/* BLOQUE ESTILOS DE LA PAGINA */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:rgb(30, 30, 30);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  flex: 1;                  /* AEFECTA LA ETIQUETA DIV QUE RETORNA FUNTION APP APP.JSX*/
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* hace que el contenido principal se expanda AFECCTA LA ETIQUETA main App.jsx */
  display: flex;
  flex-direction: column;
}


.navbar-brand {

    color: yellow;

}

.nav-link {
   color: #39FF14;
}

.text-outline-black {
 text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}


/*** BLOQUE DEL COMPONENTE HEADER ***/

.header-bg {
  background-image: url('../imgs/Header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px; /* puedes ajustar este valor */
}



/*** BLOQUE DEL COMPONENTE TARJETAPIZZA ***/

.card {
  width: 500px;                                                             /* MODIFICAR ESTA MEDIDA POR UNA MAS RESPOSIVA  */
  margin: 20px auto; /* Centrado horizontal y margen vertical */
  background-color:#4169E1; /* Fondo oscuro para la tarjeta */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  padding: 10px;
}

/* Imagen fija y recortada */
.card-img-top {
  width: 100%;
  height: 400px; 
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
  border-radius: 0.5rem 0.5rem 0 0;
}

/* Contenido de la tarjeta con distribución vertical */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 0 0.5rem 0.5rem;
 
  max-height: 700px;
  background-color: #39FF14; /* Verde fosforescente */
  font-size: 1rem;
}




/* BLOQUE DEL COMPONENTE HOME */

#home {
  margin-top: 30px;
  padding: 0 10px 49px 10px;

}



/*** BLOQUE DEL COMPONENTE REGISTER ***/

/* Fondo azul rey al contenedor */
.form-container-register {
  height: 500px;             /* altura fija más razonable */
  width: 100%;               /* ancho completo del contenedor */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.form-container-register h2 {
  font-size: 1.5rem;
  color: #39FF14;
  
}
/* Formulario en sí */
.form-body-register {
  background-color:#4169E1; /* blanco translúcido suave */
  padding: 2rem;
  width: 100%;
  max-width: 450px; /* control del ancho del formulario */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #39ff14;
}

/* Estilo de los campos input */
.input-field {
  background-color: #e8f0fe;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
 
}

.input-field:focus {
  border-color: #39ff14;
  box-shadow: 0 0 0 0.2rem rgba(57, 255, 20, 0.25);
}

/* Botón verde fosforescente */
.submit-btn {
  background-color: #39ff14;
  color: #000;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-btn:hover {
  background-color: #2eea0c;
  color: #fff;
}


/*** BLOQUE DEL COMPONENTE LOGIN ***/

.form-container-login {
  height: 500px;             /* altura fija más razonable */
  width: 100%;               /* ancho completo del contenedor */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.form-body-login  {
  background-color:#4169E1; /* blanco translúcido suave */
  padding: 2rem;
  width: 100%;
  max-width: 450px; /* control del ancho del formulario */
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(65, 105, 225, 0.8);
  color: #2eea0c;
  font-weight: 700;
}

.form-body-login h2 {
   font-size: 1.2rem;
   color: #00ff6a;
   font-weight: 800;
   font-style: italic;
   text-align: center;
}

.btnLoginPro {
  background-color: green;
  color: white;
}

.btnLoginPro:hover {
  background-color: #00ff6a;
  color: green ;
  transition: 0.3s;
}

/*** BLOQUE DEL COMPONENTE CART ***/

.tituloCart {
   color:  #39ff14;
}

.bodyCart {
  color: #39ff14;
}

.textoTotal {
  color: #39ff14;
  font-weight: bold;
  font-size: 1.2rem;
}

.button-pay {
  background-color: green;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease
}

.button-pay:hover {
  background-color: #2eea0c;
  color: green;
  transition: 0.3s;
}

/*** BLOQUE DEL COMPONENTE NOT FOUND ***/

.textcolordg {
  color: #39ff14;
 
}

.textcolordg i {
  font-size: 2rem;
}



  /* BLOQUE DEL FOOTER */

.bg-negro-puro {
  background-color: black;
}

